@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:root {
	--text-50: oklch(0.9534 0.009 279.69);
	--text-100: oklch(0.907 0.019 282.74);
	--text-200: oklch(0.8136 0.04 279.05);
	--text-300: oklch(0.7165 0.061 279.42);
	--text-400: oklch(0.619 0.085 277.36);
	--text-500: oklch(0.5179 0.111 276.29);
	--text-600: oklch(0.444 0.092 275.84);
	--text-700: oklch(0.3648 0.072 277.03);
	--text-800: oklch(0.2834 0.052 276.4);
	--text-900: oklch(0.1932 0.028 280.26);
	--text-950: oklch(0.1473 0.015 277.84);

	--background-50: oklch(0.9595 0.012 325.67);
	--background-100: oklch(0.9169 0.026 325.78);
	--background-200: oklch(0.8331 0.053 326.04);
	--background-300: oklch(0.7488 0.081 326.35);
	--background-400: oklch(0.6647 0.11 326.72);
	--background-500: oklch(0.5819 0.135 327.14);
	--background-600: oklch(0.4964 0.116 327.14);
	--background-700: oklch(0.4069 0.091 327.09);
	--background-800: oklch(0.3122 0.065 327);
	--background-900: oklch(0.2098 0.037 326.78);
	--background-950: oklch(0.153 0.019 326.44);

	--primary-50: oklch(0.943 0.029 17.67);
	--primary-100: oklch(0.8897 0.058 18.3);
	--primary-200: oklch(0.7884 0.123 20.19);
	--primary-300: oklch(0.7044 0.187 23.19);
	--primary-400: oklch(0.6489 0.237 26.97);
	--primary-500: oklch(0.628 0.258 29.23);
	--primary-600: oklch(0.5308 0.218 29.23);
	--primary-700: oklch(0.4289 0.176 29.23);
	--primary-800: oklch(0.3204 0.131 29.23);
	--primary-900: oklch(0.2016 0.083 29.23);
	--primary-950: oklch(0.1368 0.056 29.23);

	--secondary-50: oklch(0.9568 0.013 321.9);
	--secondary-100: oklch(0.9129 0.027 318.23);
	--secondary-200: oklch(0.8256 0.055 319.25);
	--secondary-300: oklch(0.7367 0.084 318.88);
	--secondary-400: oklch(0.6476 0.114 318.62);
	--secondary-500: oklch(0.5598 0.144 318.33);
	--secondary-600: oklch(0.4781 0.12 318.47);
	--secondary-700: oklch(0.3928 0.095 318.7);
	--secondary-800: oklch(0.3026 0.069 319.15);
	--secondary-900: oklch(0.2037 0.038 318.01);
	--secondary-950: oklch(0.1521 0.019 317.58);

	--accent-50: oklch(0.9533 0.034 328.82);
	--accent-100: oklch(0.9069 0.067 328.47);
	--accent-200: oklch(0.8194 0.139 329.7);
	--accent-300: oklch(0.7436 0.204 330.51);
	--accent-400: oklch(0.6849 0.257 331.64);
	--accent-500: oklch(0.648 0.283 332.48);
	--accent-600: oklch(0.5496 0.239 332.53);
	--accent-700: oklch(0.4454 0.192 332.24);
	--accent-800: oklch(0.3363 0.142 332.25);
	--accent-900: oklch(0.2164 0.085 331.25);
	--accent-950: oklch(0.1482 0.056 331.52);
}

/* If you want to use manual dark mode toggle remove the @media and replace the :root with .dark */
@media (prefers-color-scheme: dark) {
	:root {
		--text-50: oklch(0.1473 0.015 277.84);
		--text-100: oklch(0.1932 0.028 280.26);
		--text-200: oklch(0.2834 0.052 276.4);
		--text-300: oklch(0.3648 0.072 277.03);
		--text-400: oklch(0.444 0.092 275.84);
		--text-500: oklch(0.5179 0.111 276.29);
		--text-600: oklch(0.619 0.085 277.36);
		--text-700: oklch(0.7165 0.061 279.42);
		--text-800: oklch(0.8136 0.04 279.05);
		--text-900: oklch(0.907 0.019 282.74);
		--text-950: oklch(0.9534 0.009 279.69);

		--background-50: oklch(0.153 0.019 326.44);
		--background-100: oklch(0.2098 0.037 326.78);
		--background-200: oklch(0.3122 0.065 327);
		--background-300: oklch(0.4069 0.091 327.09);
		--background-400: oklch(0.4964 0.116 327.14);
		--background-500: oklch(0.5819 0.135 327.14);
		--background-600: oklch(0.6647 0.11 326.72);
		--background-700: oklch(0.7488 0.081 326.35);
		--background-800: oklch(0.8331 0.053 326.04);
		--background-900: oklch(0.9169 0.026 325.78);
		--background-950: oklch(0.9595 0.012 325.67);

		--primary-50: oklch(0.1368 0.056 29.23);
		--primary-100: oklch(0.2016 0.083 29.23);
		--primary-200: oklch(0.3204 0.131 29.23);
		--primary-300: oklch(0.4289 0.176 29.23);
		--primary-400: oklch(0.5308 0.218 29.23);
		--primary-500: oklch(0.628 0.258 29.23);
		--primary-600: oklch(0.6489 0.237 26.97);
		--primary-700: oklch(0.7044 0.187 23.19);
		--primary-800: oklch(0.7884 0.123 20.19);
		--primary-900: oklch(0.8897 0.058 18.3);
		--primary-950: oklch(0.943 0.029 17.67);

		--secondary-50: oklch(0.1521 0.019 317.58);
		--secondary-100: oklch(0.2037 0.038 318.01);
		--secondary-200: oklch(0.3026 0.069 319.15);
		--secondary-300: oklch(0.3928 0.095 318.7);
		--secondary-400: oklch(0.4781 0.12 318.47);
		--secondary-500: oklch(0.5598 0.144 318.33);
		--secondary-600: oklch(0.6476 0.114 318.62);
		--secondary-700: oklch(0.7367 0.084 318.88);
		--secondary-800: oklch(0.8256 0.055 319.25);
		--secondary-900: oklch(0.9129 0.027 318.23);
		--secondary-950: oklch(0.9568 0.013 321.9);

		--accent-50: oklch(0.1482 0.056 331.52);
		--accent-100: oklch(0.2164 0.085 331.25);
		--accent-200: oklch(0.3363 0.142 332.25);
		--accent-300: oklch(0.4454 0.192 332.24);
		--accent-400: oklch(0.5496 0.239 332.53);
		--accent-500: oklch(0.648 0.283 332.48);
		--accent-600: oklch(0.6849 0.257 331.64);
		--accent-700: oklch(0.7436 0.204 330.51);
		--accent-800: oklch(0.8194 0.139 329.7);
		--accent-900: oklch(0.9069 0.067 328.47);
		--accent-950: oklch(0.9533 0.034 328.82);
	}
}

@theme inline {
	--color-text-50: var(--text-50);
	--color-text-100: var(--text-100);
	--color-text-200: var(--text-200);
	--color-text-300: var(--text-300);
	--color-text-400: var(--text-400);
	--color-text-500: var(--text-500);
	--color-text-600: var(--text-600);
	--color-text-700: var(--text-700);
	--color-text-800: var(--text-800);
	--color-text-900: var(--text-900);
	--color-text-950: var(--text-950);

	--color-background-50: var(--background-50);
	--color-background-100: var(--background-100);
	--color-background-200: var(--background-200);
	--color-background-300: var(--background-300);
	--color-background-400: var(--background-400);
	--color-background-500: var(--background-500);
	--color-background-600: var(--background-600);
	--color-background-700: var(--background-700);
	--color-background-800: var(--background-800);
	--color-background-900: var(--background-900);
	--color-background-950: var(--background-950);

	--color-primary-50: var(--primary-50);
	--color-primary-100: var(--primary-100);
	--color-primary-200: var(--primary-200);
	--color-primary-300: var(--primary-300);
	--color-primary-400: var(--primary-400);
	--color-primary-500: var(--primary-500);
	--color-primary-600: var(--primary-600);
	--color-primary-700: var(--primary-700);
	--color-primary-800: var(--primary-800);
	--color-primary-900: var(--primary-900);
	--color-primary-950: var(--primary-950);

	--color-secondary-50: var(--secondary-50);
	--color-secondary-100: var(--secondary-100);
	--color-secondary-200: var(--secondary-200);
	--color-secondary-300: var(--secondary-300);
	--color-secondary-400: var(--secondary-400);
	--color-secondary-500: var(--secondary-500);
	--color-secondary-600: var(--secondary-600);
	--color-secondary-700: var(--secondary-700);
	--color-secondary-800: var(--secondary-800);
	--color-secondary-900: var(--secondary-900);
	--color-secondary-950: var(--secondary-950);

	--color-accent-50: var(--accent-50);
	--color-accent-100: var(--accent-100);
	--color-accent-200: var(--accent-200);
	--color-accent-300: var(--accent-300);
	--color-accent-400: var(--accent-400);
	--color-accent-500: var(--accent-500);
	--color-accent-600: var(--accent-600);
	--color-accent-700: var(--accent-700);
	--color-accent-800: var(--accent-800);
	--color-accent-900: var(--accent-900);
	--color-accent-950: var(--accent-950);
}

@layer base {
	body {
		@apply antialiased;
	}
}
