@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@layer base {
  :root {
    --text-50: 95.34%, 0.009, 279.69;
    --text-100: 90.70%, 0.019, 282.74;
    --text-200: 81.36%, 0.040, 279.05;
    --text-300: 71.65%, 0.061, 279.42;
    --text-400: 61.90%, 0.085, 277.36;
    --text-500: 51.79%, 0.111, 276.29;
    --text-600: 44.40%, 0.092, 275.84;
    --text-700: 36.48%, 0.072, 277.03;
    --text-800: 28.34%, 0.052, 276.40;
    --text-900: 19.32%, 0.028, 280.26;
    --text-950: 14.73%, 0.015, 277.84;

    --background-50: 95.95%, 0.012, 325.67;
    --background-100: 91.69%, 0.026, 325.78;
    --background-200: 83.31%, 0.053, 326.04;
    --background-300: 74.88%, 0.081, 326.35;
    --background-400: 66.47%, 0.110, 326.72;
    --background-500: 58.19%, 0.135, 327.14;
    --background-600: 49.64%, 0.116, 327.14;
    --background-700: 40.69%, 0.091, 327.09;
    --background-800: 31.22%, 0.065, 327.00;
    --background-900: 20.98%, 0.037, 326.78;
    --background-950: 15.30%, 0.019, 326.44;

    --primary-50: 94.30%, 0.029, 17.67;
    --primary-100: 88.97%, 0.058, 18.30;
    --primary-200: 78.84%, 0.123, 20.19;
    --primary-300: 70.44%, 0.187, 23.19;
    --primary-400: 64.89%, 0.237, 26.97;
    --primary-500: 62.80%, 0.258, 29.23;
    --primary-600: 53.08%, 0.218, 29.23;
    --primary-700: 42.89%, 0.176, 29.23;
    --primary-800: 32.04%, 0.131, 29.23;
    --primary-900: 20.16%, 0.083, 29.23;
    --primary-950: 13.68%, 0.056, 29.23;

    --secondary-50: 95.68%, 0.013, 321.90;
    --secondary-100: 91.29%, 0.027, 318.23;
    --secondary-200: 82.56%, 0.055, 319.25;
    --secondary-300: 73.67%, 0.084, 318.88;
    --secondary-400: 64.76%, 0.114, 318.62;
    --secondary-500: 55.98%, 0.144, 318.33;
    --secondary-600: 47.81%, 0.120, 318.47;
    --secondary-700: 39.28%, 0.095, 318.70;
    --secondary-800: 30.26%, 0.069, 319.15;
    --secondary-900: 20.37%, 0.038, 318.01;
    --secondary-950: 15.21%, 0.019, 317.58;

    --accent-50: 95.33%, 0.034, 328.82;
    --accent-100: 90.69%, 0.067, 328.47;
    --accent-200: 81.94%, 0.139, 329.70;
    --accent-300: 74.36%, 0.204, 330.51;
    --accent-400: 68.49%, 0.257, 331.64;
    --accent-500: 64.80%, 0.283, 332.48;
    --accent-600: 54.96%, 0.239, 332.53;
    --accent-700: 44.54%, 0.192, 332.24;
    --accent-800: 33.63%, 0.142, 332.25;
    --accent-900: 21.64%, 0.085, 331.25;
    --accent-950: 14.82%, 0.056, 331.52;

  }
  .dark {
    --text-50: 14.73%, 0.015, 277.84;
    --text-100: 19.32%, 0.028, 280.26;
    --text-200: 28.34%, 0.052, 276.40;
    --text-300: 36.48%, 0.072, 277.03;
    --text-400: 44.40%, 0.092, 275.84;
    --text-500: 51.79%, 0.111, 276.29;
    --text-600: 61.90%, 0.085, 277.36;
    --text-700: 71.65%, 0.061, 279.42;
    --text-800: 81.36%, 0.040, 279.05;
    --text-900: 90.70%, 0.019, 282.74;
    --text-950: 95.34%, 0.009, 279.69;

    --background-50: 15.30%, 0.019, 326.44;
    --background-100: 20.98%, 0.037, 326.78;
    --background-200: 31.22%, 0.065, 327.00;
    --background-300: 40.69%, 0.091, 327.09;
    --background-400: 49.64%, 0.116, 327.14;
    --background-500: 58.19%, 0.135, 327.14;
    --background-600: 66.47%, 0.110, 326.72;
    --background-700: 74.88%, 0.081, 326.35;
    --background-800: 83.31%, 0.053, 326.04;
    --background-900: 91.69%, 0.026, 325.78;
    --background-950: 95.95%, 0.012, 325.67;

    --primary-50: 13.68%, 0.056, 29.23;
    --primary-100: 20.16%, 0.083, 29.23;
    --primary-200: 32.04%, 0.131, 29.23;
    --primary-300: 42.89%, 0.176, 29.23;
    --primary-400: 53.08%, 0.218, 29.23;
    --primary-500: 62.80%, 0.258, 29.23;
    --primary-600: 64.89%, 0.237, 26.97;
    --primary-700: 70.44%, 0.187, 23.19;
    --primary-800: 78.84%, 0.123, 20.19;
    --primary-900: 88.97%, 0.058, 18.30;
    --primary-950: 94.30%, 0.029, 17.67;

    --secondary-50: 15.21%, 0.019, 317.58;
    --secondary-100: 20.37%, 0.038, 318.01;
    --secondary-200: 30.26%, 0.069, 319.15;
    --secondary-300: 39.28%, 0.095, 318.70;
    --secondary-400: 47.81%, 0.120, 318.47;
    --secondary-500: 55.98%, 0.144, 318.33;
    --secondary-600: 64.76%, 0.114, 318.62;
    --secondary-700: 73.67%, 0.084, 318.88;
    --secondary-800: 82.56%, 0.055, 319.25;
    --secondary-900: 91.29%, 0.027, 318.23;
    --secondary-950: 95.68%, 0.013, 321.90;

    --accent-50: 14.82%, 0.056, 331.52;
    --accent-100: 21.64%, 0.085, 331.25;
    --accent-200: 33.63%, 0.142, 332.25;
    --accent-300: 44.54%, 0.192, 332.24;
    --accent-400: 54.96%, 0.239, 332.53;
    --accent-500: 64.80%, 0.283, 332.48;
    --accent-600: 68.49%, 0.257, 331.64;
    --accent-700: 74.36%, 0.204, 330.51;
    --accent-800: 81.94%, 0.139, 329.70;
    --accent-900: 90.69%, 0.067, 328.47;
    --accent-950: 95.33%, 0.034, 328.82;

  }
}
