/* Import fonts */
@import '@fontsource-variable/nunito/wght.css';
@import '@fontsource-variable/jetbrains-mono/wght.css';

/* Import Tailwind */
@import 'tailwindcss';

/* Disable DaisyUI logging and configure default fonts */
@plugin 'daisyui' {
	logs: false;
	themes:
		valentine --default,
		NeoForest --preferes-dark;
	/* include: 'navbar, alert, menu, rootcolor, reset, properties, rootscrollgutter, rootscrolllock, scrollbar, svg'; */
}

/* Overwrite rounding on DaisyUI theme */
@plugin 'daisyui/theme' {
	name: 'valentine';
	default: true;
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

/* Custom dark theme */
@plugin 'daisyui/theme' {
	name: 'NeoForest';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(20% 0 0);
	--color-base-200: oklch(14% 0 0);
	--color-base-300: oklch(26% 0 0);
	--color-base-content: oklch(83.768% 0.001 17.911);
	--color-primary: oklch(82% 0.12 346.018);
	--color-primary-content: oklch(0% 0 0);
	--color-secondary: oklch(71% 0.202 349.761);
	--color-secondary-content: oklch(13.955% 0.027 168.327);
	--color-accent: oklch(65% 0.241 354.308);
	--color-accent-content: oklch(14.125% 0.023 185.713);
	--color-neutral: oklch(28% 0.109 3.907);
	--color-neutral-content: oklch(86.139% 0.007 171.364);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(0% 0 0);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(0% 0 0);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(0% 0 0);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(0% 0 0);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

/* Configure default fonts */
@theme {
	--font-sans: 'Nunito Variable', sans-serif;
	--font-mono: 'JetBrains Mono Variable', monospace;
}
